@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 245, 222, 179;
  --background-end-rgb: 210, 180, 140;
}

.dark {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@keyframes typewriter {
  from {
    width: 0;
    opacity: 1;
  }
  to {
    width: 100%;
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.text-animated {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  animation: typewriter 2.5s steps(60, end) forwards;
  animation-delay: 0.8s;
  opacity: 0;
  width: fit-content;
}

@media (max-width: 1024px) {
  .text-animated {
    white-space: nowrap;
    width: fit-content;
    overflow: hidden;
    animation: fadeInUp 3s ease forwards;
    animation-delay: 1s;
    opacity: 0;
    transform: translateY(20px);
  }
}

.text-fadeInUp {
  display: inline-block;
  animation: fadeInUp 3s ease forwards;
  animation-delay: 3s;
  opacity: 0;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-slide {
  animation: slide 200s linear infinite;
}

.animate-bounce {
  animation: bounce 1s infinite;
  animation-duration: 3s;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}