@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 245, 222, 179; 
    --background-end-rgb: 210, 180, 140;   
  }
}

.dark {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@keyframes typewriter {
  from {
    width: 0;
    opacity: 1;
  }
  to {
    width: 100%;
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.text-animated {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  animation: typewriter 2.5s steps(60, end) forwards;
  animation-delay: 0.5s;
  opacity: 0;
  width: fit-content;
}

@media (max-width: 640px) { /* XS breakpoint */
  .text-animated {
    white-space: normal; /* Permet le wrapping */
  }
}

.text-fadeInUp {
  display: inline-block;
  animation: fadeInUp 3s ease forwards;
  animation-delay: 3s;
  opacity: 0;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-slide {
  animation: slide 40s linear infinite;
}